In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
# Load the dataset
data = pd.read_csv('D:/project sem 3/Data-processed/milk_yield.csv')

In [3]:
data.head()

,Unnamed: 0,id,herd,parity,year,milk,DIM,SLSCC,MPQ,seasson
0,1,010000201-9,10000201,2,2008,17.0,15.0,6.5,3,4
1,2,010000201-9,10000201,2,2008,24.2,45.0,3.9,3,4
2,3,010000201-9,10000201,2,2008,24.7,75.0,3.0,3,4
3,4,010000201-9,10000201,2,2008,23.2,107.0,3.5,3,4
4,5,010000201-9,10000201,2,2008,19.8,137.0,4.0,3,4

In [4]:
data.tail()

,Unnamed: 0,id,herd,parity,year,milk,DIM,SLSCC,MPQ,seasson
822792,822793,133003602-7036,133003602,4,2012,35.0,246.0,-0.2,1,1
822793,822794,133003602-7036,133003602,4,2012,28.0,280.0,1.8,1,1
822794,822795,133003602-7038,133003602,3,2011,40.0,231.0,2.9,1,1
822795,822796,133003602-7038,133003602,3,2011,31.0,264.0,6.6,1,1
822796,822797,133003602-7038,133003602,3,2011,26.0,295.0,2.7,1,1

In [5]:
data.size

8227970

In [6]:
data.shape

(822797, 10)

In [7]:
data.columns

Index(['Unnamed: 0', 'id', 'herd', 'parity', 'year', 'milk', 'DIM', 'SLSCC',
       'MPQ', 'seasson'],
      dtype='object')

In [8]:
data.dtypes

Unnamed: 0      int64
id             object
herd            int64
parity          int64
year            int64
milk          float64
DIM           float64
SLSCC         float64
MPQ             int64
seasson         int64
dtype: object

In [9]:
data.isna()

,Unnamed: 0,id,herd,parity,year,milk,DIM,SLSCC,MPQ,seasson
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
822792,False,False,False,False,False,False,False,False,False,False
822793,False,False,False,False,False,False,False,False,False,False
822794,False,False,False,False,False,False,False,False,False,False
822795,False,False,False,False,False,False,False,False,False,False
822796,False,False,False,False,False,False,False,False,False,False

In [10]:
#data['milk'].fillna(1,inplace=True)

In [11]:
a=data['milk'].mean()
data['milk'].fillna(a,inplace=True)

#DIM
b=data['DIM'].mean()
data['DIM'].fillna(b,inplace=True)

In [12]:
# Select the relevant features for prediction
X = data[['parity', 'herd', 'year', 'DIM', 'MPQ', 'seasson','SLSCC']]
y = data['milk']

In [13]:
data['herd'].unique()

array([ 10000201,  10000203,  10002501,  10004002,  10009001,  11020702,
        20002801,  20002805,  20006901,  20009404,  20009405,  20009406,
        20009408,  20009409,  20009410,  20009801,  20015401,  20016102,
        20016401,  20016701,  20017101,  20017601,  20017801,  20018101,
        20019501,  20019801,  20021301,  20102802,  20102808,  20109411,
        20116403,  20119502,  35012201,  35013401,  35013402,  35015301,
        35015901,  35017101,  35017102,  35017201,  35018101,  35019201,
        35019401,  35020101,  35022201,  55001801,  55002601,  55005208,
        55005215,  26000901,  26001101,  26001110,  26001801,  26001810,
        26002501,  26002502,  26002510,  26002901,  26004401,  26004502,
        26004510,  26004901,  26004902,  26004910,  26005802,  26005803,
        26005812,  26008301,  26008302,  26008310,  26008402,  26009110,
        26010010,  26010401,  26010402,  26010410,  26010411,  26010801,
        26011001,  26011010,  26011202,  26011210,  26011301,  26011310,
        26011801,  26011811,  26012201,  26013201,  26013202,  26013210,
        26013212,  26013301,  26013901,  26013910,  26014101,  26014110,
        26014201,  26014501,  26014601,  26014701,  26014710,  26015501,
        26015510,  26015601,  26016301,  26016310,  26017001,  26017010,
        26017101,  26017201,  26017301,  26017401,  26017410,  26017601,
        26018601,  26019501,  26019601,  26020301,  26020801,  18000301,
        18006101,  18007501,  44010301,  45004801,  45005601,  29285002,
        29285201,  29285801,  31000830,  31001301,  31001401,  31001501,
        31004302,  31004501,  31004502,  31004601,  31004701,  31004801,
        31004901,  31005101,  31021701,  31021702,  31021703,  31021704,
        31021705,  31021706,  31036101,  52000101,  52000102,  52002601,
        52002801,  52005801,  52007001,  52007101,  52009901,  52011501,
        20019701,  20019702,  27001001,  27001801,  27001802,  55002501,
        55004301,  55006501,  55010002,  55010101,  55014101,  55016601,
        55016602,  55016603,  55016604,  55016605,  55016606,  55016902,
        55020001,  55020701,  55021902,  55022101,  55022901,  55023001,
        62000901,  62002601,  62002702,  62002901,  62017501,  62018101,
        64000701,  64040515,  67005001,  70009517,  70009518,  70009520,
        73001001,  73002601,  73002701,  75019901,  75063501,  76001801,
        76002401,  76004801,  76005001,  76005201,  76005301, 127000301,
       127000401, 127000501, 127001201, 127002001, 127003701, 127003801,
       127003901, 127004101, 129000201, 129000202, 129000207, 129000402,
       129000428, 129004801, 129008503, 129008701, 129010501, 129010901,
       129010902, 129011101, 129011301, 129011401, 137005901, 165000701,
       165000801, 165010101, 165010102, 165010801, 165253601, 171001601,
       171004801,  52000202, 102001301, 102003001, 102003601, 102006201,
       102006202, 102008601, 102010902, 102020001, 133003602,  20011602,
        20011603,  27007901,  67003901,  67003902,  67003905,  74000101,
        76005401, 165010301, 171003901], dtype=int64)

In [14]:
# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [15]:
#data.astype({'DIM': 'int32'}).dtypes

In [16]:
# Train the model
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [17]:
# Make predictions on the testing set
y_pred = model.predict(X_test)

In [18]:
# Evaluate the model's performance
mse = mean_squared_error(y_test, y_pred)
rmse = mse**0.5
r2 = r2_score(y_test, y_pred)

In [19]:
print('Mean Squared Error:', mse)
print('Root Mean Squared Error:', rmse)
print('R-Squared Value:', r2)

Mean Squared Error: 47.29816363970347
Root Mean Squared Error: 6.877366039386261
R-Squared Value: 0.30169788850311996

In [20]:
# Predict milk production for new data
data = pd.DataFrame({'parity': [2], 'herd': [10000201], 'year': [2025], 'DIM': [200], 'MPQ': [3.5], 'seasson': [4], 'SLSCC':[3]})
production = model.predict(data)
print('Predicted Milk Production:', production)

Predicted Milk Production: [28.71316371]

In [21]:
import pickle

my_pkl_filename = 'D:/project sem 3/models/milky.pkl'
# Open the file to save as pkl file
my_Model_pkl = open(my_pkl_filename, 'wb')
pickle.dump(model, my_Model_pkl)
# Close the pickle instances
my_Model_pkl.close()